-- DROP TABLE public.encounter_events_0001_20180408;

CREATE TABLE public.encounter_events_0001_20180408
(
    event_id character varying COLLATE pg_catalog."default" NOT NULL,
    event_type character varying COLLATE pg_catalog."default" NOT NULL,
    vessel_id character varying COLLATE pg_catalog."default" NOT NULL,
    _timestamp timestamp with time zone NOT NULL,
    lat double precision NOT NULL,
    lon double precision NOT NULL,
    timestamp_min timestamp with time zone,
    timestamp_max timestamp with time zone,
    lat_min double precision,
    lat_max double precision,
    lon_min double precision,
    lon_max double precision,
    event_info character varying COLLATE pg_catalog."default"
)
WITH (
    OIDS = FALSE
)
TABLESPACE pg_default;

ALTER TABLE public.encounter_events_0001_20180408
    OWNER to postgres;