#StandardSQL
SELECT
  vessel_id,
  ssvid,
  n_imo as imo,
  n_shipname as shipname,
  n_callsign as callsign,
  count(distinct seg_id) as seg_count,
  sum(pos_count) as pos_count,
  min(last_timestamp) as min_timestamp,
  max(last_timestamp) as max_timestamp

FROM `world-fishing-827.pipe_reference.segment_identity_*`
WHERE
  _TABLE_SUFFIX BETWEEN '20120101' AND '20180401'

group by vessel_id, ssvid, n_imo, n_shipname, n_callsign

